:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-text-color: #2196f3;
    --primary-white-color: #ffffff;
    --second-color: #f6eaea;
    --second-color: #101010;
    --bth-color: #2196f3;
    --main-color: #e5e5e5;
  }