.footer {
  background: #2F303A;
  padding: 60px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer__item {
  margin-bottom: 9px;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31/26);
  letter-spacing: 0.03em;
  color: var(--accent-text-color)
}

.footer__logo {
  color: var(--primary-white-color);
}

.footer__address {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: calc(24/14);
  letter-spacing: 0.03em;
  padding: 0;
  color: var(--primary-white-color);
}

.footer__email,
.footer__tel {
  font-family: 'Roboto';
  font-style: normal;
  display: block;
  font-size: 14px;
  line-height: calc(24/14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-soc {
  flex-direction: column;
  align-items: baseline;
  margin-left: 70px;
}

.footer-text {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16/14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-soc__list {
  display: flex;
  gap: 10px;
}

.footer-soc__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--bth-color);
  }
}

.footer-soc__icon {
  fill: var(--primary-white-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .footer-soc__link:hover &,
  .footer-soc__link:focus & {
    fill: var(--primary-white-color);
  }
}

.footer-box {
  margin-left: auto;
}

.footer-form {
  display: flex;
  gap: 12px;
}

.footer-form__input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  cursor: pointer;
  padding: 15px 0 15px 16px;
  color: rgba(255, 255, 255, 0.6);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--accent-text-color);
  }

  &:hover::placeholder,
  &:focus::placeholder {
    color: var(--accent-text-color);
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.footer-input__icon {
  fill: currentColor;
}
